<%- include('../partials/head') %>
<div>
    <h3>Register to follow your favourite soccer teams!</h3>
</div>
<% if (user) { %>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="<%= user.avatar %>"" class="card-img-top" alt="avatar-photo">
            <div class="card-body">
                <p class="card-title">Name: <%= user.name %></p>
                <p class="card-title">Email: <%= user.email %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="/dashboards">Dashboards</a></li>
            </ul>
            <a class="btn btn-danger" href="/logout">Log Out</a>
        </div>
    </div>
<% } else { %>
    <div class="login-btn">
        <a class="btn btn-primary" href="/auth/google">Login with Google</a>
    </div>
<% } %>
<%- include('../partials/footer') %>
