<%- include('../partials/head') %>
<li>
    <% if (user) { %>
        <a href="/logout">Log Out</a>
        <img src="<%= user.avatar %>" >
    <p>Name:  <%= user.name %></p>
    <% user.dashboards.forEach((dashboard) => { %> 
    <p>Dashboards: <%= dashboard.league %></p>
    <% }) %>
    <% } else { %>
        <a href="/auth/google">Login with Google</a>
    <% } %>
    </li>
<%- include('../partials/footer') %>
